// Text color
$first-text-color: #ffffff;
$second-text-color: #5ce1e6;
$third-text-color: #ff0f7b;
$fourth-text-color: #000000;

// Background color
$first-background-color: #000000; 
$second-background-color: #000123;
$third-background-color: #051529;
$fourth-background-color: #043264;

// Changing color on hover
$first-hover-text-color: #ffd700;
$second-hover-text-color: #5ce1e6;

// Border color on form
$form-border-color: #5ce1e6;

// Box shadow color
$form-box-shadow-color: #0000004d 0rem 1.18rem 2.4rem, #00000038 0rem 0.9rem 0.75rem;
$other-box-shadow-color: 1.25rem 0.625rem #000000;